<%= link_to "投稿画面へ", new_user_path %>
    <table class="table">
      <!-- ヘッダー色の変更 -->
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">名前</th>
          <th scope="col">年齢</th>
          <th scope="col">変更</th>
        </tr>
      </thead>
    <tbody>
      <% @users.each.with_index(1) do |user, i| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td>
            <%= link_to '詳細', user_path(user.id) %>
            <%= link_to '編集', edit_user_path(user.id), method: :get %>
            <%= link_to '削除', user_path(user.id), method: :delete, data: {confirm: "削除しますか？"} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
